<footer>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        Copy  Right 2018 &copy;
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="links">
          <p>Email :ahmedeiddiab@gmil.com</p>
          <p>Phone :011 445 656 55</p>
          <p>
              <a href="">
                <mat-icon svgIcon="githubFooter"></mat-icon>     
              </a>
              <a href="">
                  <mat-icon svgIcon="linkedin"></mat-icon>     
              </a>
              <a href="">
                <mat-icon svgIcon="twitter"></mat-icon>     
              </a>
          </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</footer>