@import '../../../../assets/scss/color';
span{
    &:hover{

        img{
            transform: rotateZ(20deg) scale(1.6);
        }
    }
    img{
        transition: all ease .3s;
        width: 100%;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: +4;
        background-color: rgba($color_a, .8);
        opacity: 0;
        transition: all ease .5s;
        text-align: center;
        cursor: pointer;
        h6{
            position: relative;
            width: 100%;
            top: 50%;
            color: $color_c;
            transition: all ease .5s;
            z-index: +5;
            margin: 0;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 18px;
        }
        &:hover{
            opacity: 1;
            h6{
                transform: translateY(-50%)
            }
        }

    }

}


.overlayWindow{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba($color_b, .5);
    transform: translateY(-100%);
    z-index: +99;

    .fa{
        transition: all ease .3s;
        width: 40px;
        height: 40px;
        color: red;
        opacity: .7;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: +100;
        &:hover{
            opacity: 1;
        }
    }

    .overlay-chiled{
        width: 80%;
        padding: 20px 0;
        margin: auto;
        img{
            width: 100%;
        }

    }

}

.enterOveraly{
    overflow: auto;
    animation: moveIn ease .5s forwards ;
}
@keyframes moveIn{
    from{
        transform: translateY(-100%)
    }
    to{
        transform: translateY(0%);
    }
}

@media(max-width:578px){
    .fa{
        right: -10px;
        top: -5px;
    }
    .overlay-chiled{

        img{
            width: 100%;
            min-height: 300px;
        }

    }
}

