<div class="home">
  <div class="image-containr">
    <img src="../../../assets/images/AHMED-DIAB.png" alt="ahmed-diab">
  </div>
  <h4>Hello Everybody</h4>
  <p>My name is Ahmed Diab I am junior MEAN Stack developer</p>
  <p>I am from Alexandria in Egypt</p>
  <p>I have more than one year Exprince in this filed</p>
  <hr>
  <h4>languages & techniques</h4>
  <mat-grid-list cols="{{col}}" rowHeight="300px">
      <mat-grid-tile>
          <ul>
              <li>CSS 3 <mat-icon svgIcon="css"></mat-icon></li>
              <li>scss <mat-icon svgIcon="sass"></mat-icon> </li>
              <li >HTML 5 <mat-icon svgIcon="html"></mat-icon></li>
              <li class="titlecase">bootstrap <mat-icon svgIcon="boostrap"></mat-icon></li>
              <li class="titlecase">express</li>
              <li >pug / ejs</li>
              <li class="titlecase">angular material</li>
              <li class="titlecase">REST API</li>
              <li >json</li>

            </ul>
      </mat-grid-tile>
      <mat-grid-tile>
          <ul>
              <li class="titlecase">node js <mat-icon svgIcon="node"></mat-icon></li>
              <li class="titlecase">angular <mat-icon svgIcon="angular"></mat-icon></li>
              <li class="titlecase">maongodb <mat-icon svgIcon="mongo"></mat-icon></li>
              <li class="titlecase">javascript <mat-icon svgIcon="js"></mat-icon></li>
              <li class="titlecase">Grunt <mat-icon svgIcon="grunt"></mat-icon></li>
              <li class="titlecase">git & github <mat-icon svgIcon="github"></mat-icon></li>
              <li class="titlecase">typescript <mat-icon svgIcon="ts"></mat-icon></li>

            </ul>
      </mat-grid-tile>
    </mat-grid-list>



</div>