<div class="home">
  <div class="image-containr">
    <img src="../../../assets/images/AHMED-DIAB.png" alt="ahmed-diab">
  </div>
  <h4>Hello Everybody</h4>
  <p>My name is Ahmed Diab I am junior MEAN Stack developer</p>
  <p>I am from Alexandria in Egypt</p>
  <p>I have more than one year Exprince in this filed</p>
  <hr>
  <h4>languages & techniques</h4>
  <mat-grid-list cols="{{col}}" rowHeight="250px">
      <mat-grid-tile>
          <ul>
              <li class="titlecase">node js</li>
              <li class="titlecase">angular</li>
              <li class="titlecase">maongodb</li>
              <li class="titlecase">express</li>
              <li>CSS 3</li>
              <li>scss</li>
              <li >HTML 5</li>
              <li >pug / ejs</li>
            </ul>
      </mat-grid-tile>
      <mat-grid-tile>
          <ul>
              <li >json</li>
              <li class="titlecase">typescript</li>
              <li class="titlecase">jQuery</li>
              <li class="titlecase">javascript</li>
              <li class="titlecase">bootstrap</li>
              <li class="titlecase">angular material</li>
              <li class="titlecase">Grunt</li>
              <li class="titlecase">git & github</li>
              <li class="titlecase">REST API</li>
            </ul>
      </mat-grid-tile>
    </mat-grid-list>



</div>